.radial-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radial-chart.behind {
  z-index: -1;
}

@media screen and (min-width: 1000px) {
  .radial-chart {
    position: relative;
    right: 8%;
    bottom: 4%;
  }
}
