.container {
  box-shadow: 0 0 5px 0 #e8e8e8;
  margin: 20px 0 20px 0;
}

.dayLabel {
  text-align: center;
  border-bottom: solid 1px #f1f1f1;
  padding: 20px;
  color: #777;
  font-weight: 500;
}

.dayOverview {
  padding: 20px;
  text-align: center;
}

.circle {
  fill: none;
  stroke: #777;
  stroke-width: 1px;
  /*transform: translate(50%, 50%);*/
}

.butterflyChart {
  text-align: center;
}

.butterflyChart .label {
  fill: #777;
}

.axisLabel {
  font-size: .8em;
  font-weight: bold;
}

.axis line {
  stroke: #f1f1f1;
}

.noDataRecorded {
  display: inherit;
}
