.bar {
  z-index: 0;
}

.line {
  fill: none;
  stroke: #7888BF;
  stroke-width: 2px;
}

.dot {
  stroke: #7888BF;
  stroke-width: 2px;
}

.dayLabel .checkbox {
  cursor: pointer;
  float: right;
}

.barChart {
  width: 100%;
}

.bar.hover {
  fill: #5455D6;
}
