.bar {
  z-index: 0;
}

.line {
  fill: none;
  stroke: #7888BF;
  stroke-width: 2px;
}

.area {
  //fill: lightsteelblue;
  //opacity: .5;
  //z-index: 1;
}

.dot {
  stroke: #7888BF;
  stroke-width: 2px;
}
