$black: #000;
$white: #FFF;
$purple: #7888BF;
$navyGray: #394752;
$mediumGray: #777;
$lightGray: #E8E8E8;
$whiteGray: #F1F1F1;
$lightBlue: #E1ECF5;
$radiantPurple: #5455D6;
$blue: #6595ec;
$navy: #424a60;
