@import '../../helpers/colors';

#calendar {
  margin: 20px 0 20px 0;
}

.day-labels {
  cursor: pointer;
  color: $mediumGray;
  display: block;
  font-weight: 500;

  &.bold {
    color: $black;
    fill: $black;
    font-weight: 900;
  }
}

.day-labels-container {
  position: relative;
  font-size: .7vw;
  line-height: 1.5em;
  top: 22px;
  margin-left: 20px;
  width: 2.2vw;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.tooltip {
  opacity: 1 !important;
  color: $white !important;
  background-color: $navyGray !important;

  &:first-line {
    font-weight: bold !important;
  }
}

.months {
  display: inline-block;
  width: 100%;
}

.year-wrapper {
  width: calc(100% - 2.2vw - 40px);
  display: inline-block;
  margin-right: 20px;
}

.month {
  width: calc(100% / 12);
}

.month-name,
#calendar g {
  fill: $mediumGray;
  font-weight: 500;
}

.month-name {
  cursor: pointer;
}

.month-name.bold,
.week.bold {
  color: $black;
  fill: $black !important;
  font-weight: 900 !important;
}

.month svg {
  height: auto;
  width: auto;
}

.card g {
  font-size: .7vw;
}

.card .day {
  cursor: pointer;
}

.day.fill {
  fill: #ff707d;
}

#calendar {
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 0 0 5px 0 $lightGray;
  -moz-box-shadow: 0 0 5px 0 $lightGray;
  box-shadow: 0 0 5px 0 $lightGray;
  background: $white;
}

.overlay {
  text-align: center;
  position: relative;
  z-index: 4;
  font-size: 40px;
  top: 60px;
  color: $purple;
  width: calc(100vw - 40px);
}

.hoveredMonths {
  filter: blur(3px);
}

.year-label {
  font-size: 1.2em;
  font-weight: 500;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px $whiteGray;
  margin-bottom: 24px;
  color: $mediumGray;
  outline: none;
}

.fa-chevron-left {
  margin-left: 1.2em;
}

.fa-chevron-right {
  margin-right: 1.2em;
}

.hidden {
  display: none;
}

.year-label i {
  cursor: pointer;
}

.current-day {
  stroke: $mediumGray;
  stroke-width: 2px;
}

.year-label .disabled {
  color: $whiteGray;
  cursor: not-allowed;
}

.month .week {
  font-size: .5vw;
  fill: $mediumGray;
  font-weight: 500;
  cursor: pointer;
}

.fade-in {
  -webkit-animation: fadeIn 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 0.5s; /* Firefox < 16 */
  -ms-animation: fadeIn 0.5s; /* Internet Explorer */
  -o-animation: fadeIn 0.5s; /* Opera < 12.1 */
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#div {
  background: $lightBlue;
  border: 1px dashed $mediumGray;
  opacity: .5;
  position: absolute;
}
