@import '../../helpers/colors';

#calendar {
  margin: 20px 0 20px 0;
}

.month-name,
.dayLabels,
#calendar g {
  fill: $mediumGray;
  font-weight: 500;
}

.month svg {
  height: auto;
  width: auto;
}

.dayLabelsContainer span,
.card g {
  font-size: 74%;
  line-height: 1.5em;
  position: absolute;
  top: 80px;
  margin-left: 20px;
}

.card .day {
  cursor: pointer;
}

.day.fill {
  fill: #ff707d;
}

.dayLabelsContainer {
  position: relative;
}

.dayLabels {
  color: $mediumGray;
  display: block;
}

.months {
  margin-left: 60px;
}

#calendar {
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 0 0 5px 0 $lightGray;
  -moz-box-shadow: 0 0 5px 0 $lightGray;
  box-shadow: 0 0 5px 0 $lightGray;
  background: $white;
}

.overlay {
  text-align: center;
  position: relative;
  z-index: 4;
  font-size: 40px;
  top: 60px;
  color: $purple;
  width: calc(100vw - 40px);
}

.hoveredMonths {
  filter: blur(3px);
}

.yearLabel {
  font-size: 1.2em;
  font-weight: 500;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px $whiteGray;
  margin-bottom: 24px;
  color: $mediumGray;
  outline: none;
}

.fa-chevron-left {
  margin-left: 1.2em;
}

.fa-chevron-right {
  margin-right: 1.2em;
}

.hidden {
  display: none;
}

.yearLabel i {
  cursor: pointer;
}

.year {
  margin: 26px 0;
}

.current-day {
  stroke: $mediumGray;
  stroke-width: 2px;
}

.yearLabel .disabled {
  color: $whiteGray;
  cursor: not-allowed;
}
