@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@import url("calendar/Heatmap.scss");
@import url("radial-chart/RadialChart.scss");
* {
  font-family: 'Quicksand', sans-serif; }

.app {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: 100vw;
  overflow: auto;
  user-select: none;
  /* CSS3 (little to no support) */
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: none;
  /* Gecko (Firefox) */
  -webkit-user-select: none;
  /* Webkit (Safari, Chrome) */ }

.header {
  align-items: center;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  height: 60px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 5px 0 #E8E8E8;
  -moz-box-shadow: 0 0 5px 0 #E8E8E8;
  box-shadow: 0 0 5px 0 #E8E8E8; }

.header .title {
  color: #394752;
  margin-left: 6%;
  font-weight: bold; }

.header .icons {
  cursor: pointer;
  margin-right: 6%;
  display: flex;
  text-decoration: none; }

.icons .github-icon {
  margin-right: 10px; }

.icons .pdf-icon,
.icons .github-icon {
  width: 25px;
  height: 25px; }

.icons .fa-github:hover,
.icons:hover .pdf-icon {
  fill: #5455D6;
  color: #5455D6; }

.content {
  height: 100vh;
  margin: 0 6%;
  text-align: left; }

p {
  color: #7888BF;
  font-size: 1em;
  font-weight: 600;
  margin: 0; }

.button-group {
  display: flex;
  align-items: center; }

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputFile + label {
  font-size: .9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: #777;
  border: solid 1px #E8E8E8;
  border-radius: 18px;
  margin: 10px 0 20px 20px; }

.inputFile:focus + label,
.inputFile + label:hover {
  border: solid 1px #7888BF; }

.inputFile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em; }

.fa-upload {
  margin-right: 10px; }

.dropzone {
  background: #FFF !important;
  opacity: 1 !important;
  border: dotted 2px #F1F1F1 !important;
  margin: 20px !important;
  outline: none;
  height: 50px;
  cursor: pointer;
  color: #777 !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.dropzone:hover {
  border: dotted 2px #7888BF !important;
  color: #7888BF !important; }

.file-name {
  margin-left: 20px; }

.file-size {
  font-size: .8em;
  text-align: center; }

p {
  color: #5455D6; }

.upload-message {
  font-weight: 400; }

.place-top::after {
  border-top-color: #394752 !important; }

.dropdown {
  margin: 20px 0 20px 0;
  border: solid 1px #F1F1F1;
  width: 50%; }

.dropdown .Dropdown-control,
.dropdown .Dropdown-menu {
  border: none; }

.dropdown .Dropdown-menu {
  box-shadow: 0 0 5px 0 #E8E8E8; }

.emptyString {
  text-align: center;
  padding-bottom: 20px; }

.card .footer .checkboxes {
  justify-content: flex-start; }

.card .footer button {
  margin: 0 1.2em;
  border: solid 1px #777;
  padding: .2em 0.75em;
  outline: none;
  cursor: pointer; }

.charts-container {
  height: 100%;
  display: flex;
  justify-content: space-between; }

.dataset-overview-title {
  display: flex;
  justify-content: center !important; }

.upload-dataset {
  display: flex; }

.dropzone {
  width: 50%; }

.Dropdown-control {
  height: 100%;
  line-height: 35px; }

.Dropdown-arrow {
  top: 22px; }

/*# sourceMappingURL=App.css.map */

/*# sourceMappingURL=App.css.map */
