@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

*:not(#calendar, span) {
  font-family: 'Quicksand', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid #E1ECF5;
  display: flex;
  font-weight: bold;
  height: 60px;
  text-transform: uppercase;
}

.header .title {
  color: #9CB0C0;
  margin-left: 5em;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.content {
  margin: 2em 5em;
  text-align: left;
}

p {
  color: #9CB0C0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 0 0 20px;
}

.button-group {
  display: flex;
  align-items: center;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile+label {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: #777;
  border: solid 1px #e8e8e8;
  border-radius: 18px;
  margin: 10px 0 20px 20px;
}

.inputFile:focus+label,
.inputFile+label:hover {
  border: solid 1px #9CB0C0;
  /*color: #9CB0C0;*/
}

.inputFile+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.fa-upload {
  margin-right: 10px;
}

.filepond--wrapper .filepond--root {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  /*width: 26vw;*/
}

.filepond--panel-top,
.filepond--panel-center,
.filepond--panel-bottom {
  background: transparent !important;
}

.filepond--drip,
.dropzone {
  background: white !important;
  opacity: 1 !important;
  /*box-shadow: 0 0 5px 0 #e8e8e8 !important;*/
  border: dashed 2px #E1ECF5 !important;
  margin: 20px !important;
  border-radius: 30px !important;
  outline: none;
  height: 50px;
  cursor: pointer;
  color: #777 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filepond--file {
  color: #777 !important;
}

.dropzone:hover {
  border: dashed 2px #9CB0C0 !important;
  color: #9CB0C0 !important;
}

span {
  font-family: 'Montserrat', sans-serif;
}

.dropzone--isDone {
  /*justify-content: space-between;*/
}

.file-name {
  margin-left: 20px;
}

.file-size {
  font-size: .8em;
  text-align: center;
}
