@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@import "../helpers/colors.scss";
@import url("calendar/Heatmap.scss");
@import url("radial-chart/RadialChart.scss");

* {
  font-family: 'Quicksand', sans-serif; }

.app {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: 100vw;
  overflow: auto;
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.header {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  height: 60px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 5px 0 $lightGray;
  -moz-box-shadow: 0 0 5px 0 $lightGray;
  box-shadow: 0 0 5px 0 $lightGray; }

.header .title {
  color: $navyGray;
  margin-left: 6%;
  font-weight: bold; }

.header .icons {
  cursor: pointer;
  margin-right: 6%;
  display: flex;
  text-decoration: none;
}

.icons .github-icon {
  margin-right: 10px;
}

.icons .pdf-icon,
.icons .github-icon {
  width: 25px;
  height: 25px;
}

.icons .fa-github:hover,
.icons:hover .pdf-icon {
  fill: $radiantPurple;
  color: $radiantPurple;
}

.content {
  height: 100vh;
  margin: 0 6%;
  text-align: left; }

p {
  color: $purple;
  font-size: 1em;
  font-weight: 600;
  margin: 0; }

.button-group {
  display: flex;
  align-items: center; }

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputFile + label {
  font-size: .9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: $mediumGray;
  border: solid 1px $lightGray;
  border-radius: 18px;
  margin: 10px 0 20px 20px; }

.inputFile:focus + label,
.inputFile + label:hover {
  border: solid 1px $purple; }

.inputFile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em; }

.fa-upload {
  margin-right: 10px; }

.dropzone {
  background: $white !important;
  opacity: 1 !important;
  border: dotted 2px $whiteGray !important;
  margin: 20px !important;
  outline: none;
  height: 50px;
  cursor: pointer;
  color: $mediumGray !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.dropzone:hover {
  border: dotted 2px $purple !important;
  color: $purple !important; }

.file-name {
  margin-left: 20px; }

.file-size {
  font-size: .8em;
  text-align: center;
}

p {
  color: $radiantPurple;
}

.upload-message {
  font-weight: 400;
}

.place-top::after {
  border-top-color: $navyGray !important; }

.dropdown {
  margin: 20px 0 20px 0;
  border: solid 1px $whiteGray;
  width: 50%;
}

.dropdown .Dropdown-control,
.dropdown .Dropdown-menu {
  border: none;
}

.dropdown .Dropdown-menu {
  box-shadow: 0 0 5px 0 $lightGray;
}

.emptyString {
  text-align: center;
  padding-bottom: 20px;
}

.card .footer .checkboxes {
  justify-content: flex-start;
}

.card .footer button {
  margin: 0 1.2em;
  border: solid 1px #777;
  padding: .2em 0.75em;
  outline: none;
  cursor: pointer;
}

.charts-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.dataset-overview-title {
  display: flex;
  justify-content: center !important;
}

.upload-dataset {
  display: flex;
}

.dropzone {
  width: 50%;
}

.Dropdown-control {
  height: 100%;
  line-height: 35px;
}

.Dropdown-arrow {
  top: 22px;
}

@media screen and (max-width: 1000px) {
  .charts-container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=App.css.map */
