#calendar {
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
}

.month {
  /*margin-right: 8px;*/
}

.month-name {
  fill: #777;
}

.tooltip {
  background: white;
  border-radius: 10px;
  border: solid 1px #e8e8e8;
  display: block;
  font-size: 85%;
  font-weight: bold;
  line-height: 30px;
  opacity: .8;
  overflow: hidden;
  padding: 10px 20px;
  position: fixed;
}

#calendar svg {
  height: auto;
  width: auto;
}

#calendar g {
  font-size: 74%;
  line-height: 1.5em;
  position: absolute;
  top: 312px;
  margin-left: 20px;
}

#calendar .day {
  cursor: pointer;
}

.dayLabels {
  color: #777;
  display: block;
}

.months {
  margin-left: 60px;
}

.tooltip .text {
  font-weight: 400 !important;
}

#calendar {
  width: calc(100vw - 200px);
  display: inline-block;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 5px 0 #e8e8e8;
  -moz-box-shadow: 0 0 5px 0 #e8e8e8;
  box-shadow: 0 0 5px 0 #e8e8e8;
}

.overlay {
  text-align: center;
  position: relative;
  z-index: 4;
  font-size: 40px;
  top: 60px;
  color: purple;
  width: calc(100vw - 40px);
}

.hoveredMonths {
  filter: blur(3px);
}

.yearLabel {
  font-size: 1.2em;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px #f1f1f1;
  /*border-radius: 40px;*/
  margin-bottom: 24px;
  color: #777;
}

.fa-chevron-left {
  margin-left: 1.2em;
}

.fa-chevron-right {
  margin-right: 1.2em;
}

.hidden {
  display: none;
}

.yearLabel i {
  cursor: pointer;
}

.year {
  margin: 26px 0;
}

.current-day {
  stroke: #777;
  stroke-width: 2px;
}
